<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" colors="true" stopOnFailure="false" timeoutForLargeTests="1200" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <include>
      <directory suffix=".php">traits</directory>
      <directory suffix=".php">models</directory>
      <directory suffix=".php">queries</directory>
      <directory suffix=".php">events</directory>
    </include>
  </coverage>
  <testsuites>
    <testsuite name="Common">
      <directory>./tests/entity</directory>
      <directory>./tests/meta</directory>
      <directory>./tests/mongodb</directory>
      <directory>./tests/operator</directory>
      <directory>./tests/redis</directory>
      <directory>./tests/user</directory>
    </testsuite>
  </testsuites>
  <phpunit>
    <displayDetailsOnTestsThatTriggerDeprecations>true</displayDetailsOnTestsThatTriggerDeprecations>
    <displayDetailsOnTestsThatTriggerErrors>true</displayDetailsOnTestsThatTriggerErrors>
    <displayDetailsOnTestsThatTriggerNotices>true</displayDetailsOnTestsThatTriggerNotices>
    <displayDetailsOnTestsThatTriggerWarnings>true</displayDetailsOnTestsThatTriggerWarnings>
  </phpunit>
</phpunit>
